<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form 
        action="/users/save"
        method="POST"
    >

    <div>
        <input type="text" name="nome" placeholder="seu nome">
    </div>

    <div>
        <input type="email" name="email" placeholder="seu email">
    </div>

    <div>
        <input type="tel" name="tel" placeholder="seu telefone">
    </div>

    <div>
        <input type="submit" envie>
    </div>

    </form>
</body>
</html>