<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Sobre</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptatum sint impedit harum voluptatibus qui ipsa maxime soluta corporis illo ea quidem eligendi itaque dignissimos quia repellendus minus sunt! Neque.</p>

    <a href="http:/envio">Contate!</a>
</body>
</html>