<h1>edite o seu livro</h1>

<form action="" method="POST" class="form">
    <div class="form-control">
        <label for="pageqty">Titulo: </label>
        <input type="text" name="title" placeholder="Titulo do livro" value="{{book.title}}">
    </div>

    <div class="form-control">
        <label for="pageqty">Numero de páginas: </label>
        <input type="number" name="pageqty" placeholder="Titulo do livro" value="{{book.pageqty}}">
    </div>
    <input type="submit" value="editar">
</form> 