<h1>Oi, sou o handlebars!</h1>
<br/>
<p>o nome do usuário é {{user.name}} {{user.surname}}</p>
<p>e isso aqui é um {{palavra}}</p>

{{#if auth}}
    <p>Você está autenticado! Clique <a href="/dashboard">aqui</a> para acessar.</p>
{{/if}}